<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="utf-8">
        <title>台北一日遊</title>
        <link rel="stylesheet" type="text/css" href="/static/css/account.css" />
        <link rel="stylesheet" type="text/css" href="/static/css/global.css" />
        <script src="https://kit.fontawesome.com/721f2dd150.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <!-- header -->
        <div class="headerBackground"></div>
        <div id="header">
            <div class="header-left">
                <a href="/" style="color: #448899;text-decoration: none; ">台北一日遊</a>
            </div>
            <div class="header-right">
                <div class="header-rightItem">預定行程</div>
                <div id="headerRightItem" class="header-rightItem" style="cursor: pointer" ></div>
            </div>
        </div>
        <div id="fakeHeader"></div>
        <!-- 登入 -->
        <div id="login">
            <div class="registerBackground"></div>
            <div class="registerTitle">登入會員帳號</div>
            <div class="registerCloser" onclick="closeRegister()"><i class="fa-solid fa-xmark"></i></div>
            <div class="closeRegister"></div>
            <form class="registerBox">
                <input class="registerBoxEmail" placeholder="輸入電子信箱" name="email" type="text" required>
                <input class="registerBoxPass" placeholder="輸入密碼" name="password" type="password" required>
            </form>
            <input class="loginButton" type="submit" value="登入帳戶" onclick="singIn()">
            <div class="signMessage"></div>
            <div class="registerFooter">
                <p>還沒有帳戶？</p>
                <p style="cursor: pointer" onclick="register()">點此註冊</p>
            </div>
        </div>
        <!-- 註冊 -->
        <div id="register">
            <div class="registerBackground"></div>
            <div class="registerTitle">註冊會員帳號</div>
            <div class="registerCloser" onclick="closeRegister()"><i class="fa-solid fa-xmark"></i></div>
            <div class="closeRegister"></div>
            <form class="registerBox">
                <input class="newUserName" placeholder="輸入姓名" name="name" type="text" required>
                <input class="newEmail" placeholder="輸入電子信箱" name="email" type="text" required>
                <input class="newPassword" placeholder="輸入密碼" name="password" type="password" required>
            </form>
            <input class="loginButton" type="submit" value="註冊新帳戶" onclick="signUp()">
            <div class="registerMessage"></div>
            <div class="registerFooter">
                <p>已經有帳戶了？</p>
                <p style="cursor: pointer" onclick="login()">點此登入</p>
            </div>
        </div>
        <!-- 天黑 -->
        <div id="loginWindowBackground" onclick="closeRegister()"></div>
        <!-- mian -->
        <p class="account-header">
            <span id="account-header-user">我的資料</span>
            <span id="account-header-order">歷史訂單</span>
        </p>
        <div class="account-main"></div>
        <footer id="footer">
            <div>COPYRIGHT © 2021 台北一日遊</div>
        </footer>
        <script src="/static/js/user.js"></script>
        <script src="/static/js/account.js"></script>
    </body>
</html>