<!DOCTYPE html>
<html >
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="utf-8">
        <title>台北一日遊</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='attraction.css')}}" />
        <script src="https://kit.fontawesome.com/721f2dd150.js" crossorigin="anonymous"></script>
    </head>
    <body>
    <!-- onClick="location.reload();" -->
        <div id="headBox">
            <div id="header">
                <div class="header-left" >
                    <a href="http://127.0.0.1:3000/" style="color: #448899; text-decoration: none;">台北一日遊</a>
                    <!-- <a href="http://13.112.252.173:3000/" style="color: #448899; text-decoration: none;">台北一日遊</a> -->
                </div>
                <div class="header-right">
                    <div class="header-rightItem">預定行程</div>
                    <!-- <div class="header-rightItem">登入/註冊</div> -->
                    <div id="headerRightItem" class="header-rightItem" style="cursor: pointer" ></div>
                </div>
            </div>
        </div>
        <div class="fakeHeadBox"></div>
         <!-- 登入 -->
         <div id="login">
            <div class="registerBackground"></div>
            <div class="registerTitle">登入會員帳號</div>
            <div class="registerCloser" onclick="closeRegister()"><i class="fa-solid fa-xmark"></i></div>
            <div class="closeRegister"></div>
            <form class="registerBox">
                <input class="registerBoxEmail" placeholder="輸入電子信箱" name="email" type="text" required>
                <input class="registerBoxPass" placeholder="輸入密碼" name="password" type="password" required>
            </form>
            <input class="loginButton" type="submit" value="登入帳戶" onclick="singIn()">
            <div class="signMessage"></div>
            <div class="registerFooter">
                <p>還沒有帳戶？</p>
                <p style="cursor: pointer" onclick="register()">點此註冊</p>
            </div>
        </div>
        <!-- 註冊 -->
        <div id="register">
            <div class="registerBackground"></div>
            <div class="registerTitle">註冊會員帳號</div>
            <div class="registerCloser" onclick="closeRegister()"><i class="fa-solid fa-xmark"></i></div>
            <div class="closeRegister"></div>
            <form class="registerBox">
                <input class="newUserName" placeholder="輸入姓名" name="name" type="text" required>
                <input class="newEmail" placeholder="輸入電子信箱" name="email" type="text" required>
                <input class="newPassword" placeholder="輸入密碼" name="password" type="password" required>
                <!-- <button class="loginButton">註冊新帳戶</button> -->
            </form>
            <input class="loginButton" type="submit" value="註冊新帳戶" onclick="signUp()">
            <div class="registerMessage"></div>
            <div class="registerFooter">
                <p>已經有帳戶了？</p>
                <p style="cursor: pointer" onclick="login()">點此登入</p>
            </div>
        </div>
        <!-- 天黑 -->
        <div id="loginWindowBackground" onclick="closeRegister()"></div>
        <!-- welcome -->
        <div id="welcome">
            <div class="welcome-left">
                <a class="welcome-img-button-left" onclick="slideImg(-1)"><i class="fa-solid fa-chevron-left"></i></a>
                <a class="welcome-img-button-right"onclick="slideImg(1)"><i class="fa-solid fa-chevron-right"></i></a>
                <div class="welcome-img-bottom">
                    <!-- <div class="welcome-img-bottom-button"></div> -->
                </div>
                
                <div class="welcome-imgbox">
                    <!-- 裡面放class="welcomeImg" -->
                </div>
            </div>
            <div class="welcome-right">
                <h2 class="welcome-right-h2"></h2>
                <p class="welcome-right-CatMrt"></p>
                <div class="welcome-right-detail-background">
                    <div class="welcome-right-detail">
                        <p>訂購導覽行程</p>
                        <p>以此景點為中心的一日行程，帶您探索城市角落故事</p>
                        <p>選擇日期：<input class="reservationDate" placeholder="yyyy/mm/dd" type="date" style="border: none; width: 199px; height: 33px"></p>
                        <p class="dateNull"></p>
                        <p style="display: flex; align-items: center;" >
                            選擇時間：
                            <span><button class="amButton" ></button></span>
                            &nbsp;上半天&nbsp;&nbsp;
                            <span><button class="pmButton" ></button></span>
                            &nbsp;下半天&nbsp;&nbsp;
                        </p>
                        <p class="timeNull"></p>
                        <p>導覽費用：新台幣&nbsp;<span class="price">2000</span>&nbsp;元</p>
                        <button type="submit" class="reservationButton" >開始預約行程</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="hr"></div>
        <!-- article -->
        <div id="article">
            <p class="description"></p>
            <h3>景點地址：</h3>
            <p class="address"></p>
            <h3>交通方式：</h3>
            <p class="transport"></p>
        </div>
        <footer id="footer">
            <div>COPYRIGHT © 2021 台北一日遊</div>
        </footer>
        <script src="/static/attraction.js"></script>
        <script src="/static/user.js"></script>
    </body>
</html>