<!DOCTYPE html>
<html >
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="utf-8">
        <title>台北一日遊</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css')}}" />
        <script src="https://kit.fontawesome.com/721f2dd150.js" crossorigin="anonymous"></script>
    </head>
    <!-- onClick="location.reload();" -->
    <body>
        <div id="header">
            <div class="header-left">
                <!-- http://13.112.252.173:3000/ -->
                <!-- http://127.0.0.1:3000/ -->
                <a href="http://13.112.252.173:3000/" style="color: #448899;text-decoration: none; ">台北一日遊</a>
            </div>
            <div class="header-right">
                <div class="header-rightItem">預定行程</div>
                <div class="header-rightItem">登入/註冊</div>
            </div>
        </div>
        <div class="nullTop">
            <div >
                <div class="category">
                    <div style="font-size: 28px; color: #ffffff;">輕鬆享受台北一日悠閒</div>
                    <br>
                    <div style="color: #ffffff;">探索每個角落，體驗城市的深度旅遊行程</div>
                    <br>
                    <form class="categorySearch">
                        <button type="button" onclick="searchCategory()">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </button>
                        <input id="selectCatagoryList" type="text" placeholder="輸入景點名稱查詢"   >
                    </form>
                    <ul id="listCatagory" class="listCatagory" ></ul>
                    
                </div>
            </div>
        </div>
        <!-- welcome -->
        <div id="welcome">
            <div class="onWelcomePng">
            </div>
            <img src="static/welcome.png" >
        </div>
 
        <!-- main -->
        <div id="main"></div>
        <footer id="footer">
            <div>COPYRIGHT © 2021 台北一日遊</div>
        </footer>
        <script src="static/mainAJAX.js"></script>
    </body>
    
</html>