<!DOCTYPE html>
<html >
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="utf-8">
        <title>台北一日遊</title>
        <link rel="stylesheet" type="text/css" href="/static/css/index.css" />
        <link rel="stylesheet" type="text/css" href="/static/css/global.css" />
        <script src="https://kit.fontawesome.com/721f2dd150.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <!-- header -->
        <div class="headerBackground"></div>
        <div id="header">
            <div class="header-left">
                <a href="/" style="color: #448899;text-decoration: none; ">台北一日遊</a>
            </div>
            <div class="header-right">
                <div class="header-rightItem">預定行程</div>
                <div id="headerRightItem" class="header-rightItem" style="cursor: pointer" ></div>
            </div>
        </div>
        <div id="fakeHeader"></div>
        <!-- 登入 -->
        <div id="login">
            <div class="registerBackground"></div>
            <div class="registerTitle">登入會員帳號</div>
            <div class="registerCloser" onclick="closeRegister()"><i class="fa-solid fa-xmark"></i></div>
            <div class="closeRegister"></div>
            <form class="registerBox">
                <input class="registerBoxEmail" placeholder="輸入電子信箱" name="email" type="text" required>
                <input class="registerBoxPass" placeholder="輸入密碼" name="password" type="password" required>
            </form>
            <input class="loginButton" type="submit" value="登入帳戶" onclick="singIn()">
            <div class="signMessage"></div>
            <div class="registerFooter">
                <p>還沒有帳戶？</p>
                <p style="cursor: pointer" onclick="register()">點此註冊</p>
            </div>
        </div>
        <!-- 註冊 -->
        <div id="register">
            <div class="registerBackground"></div>
            <div class="registerTitle">註冊會員帳號</div>
            <div class="registerCloser" onclick="closeRegister()"><i class="fa-solid fa-xmark"></i></div>
            <div class="closeRegister"></div>
            <form class="registerBox">
                <input class="newUserName" placeholder="輸入姓名" name="name" type="text" required>
                <input class="newEmail" placeholder="輸入電子信箱" name="email" type="text" required>
                <input class="newPassword" placeholder="輸入密碼" name="password" type="password" required>
            </form>
            <input class="loginButton" type="submit" value="註冊新帳戶" onclick="signUp()">
            <div class="registerMessage"></div>
            <div class="registerFooter">
                <p>已經有帳戶了？</p>
                <p style="cursor: pointer" onclick="login()">點此登入</p>
            </div>
        </div>
        <!-- 天黑 -->
        <div id="loginWindowBackground" onclick="closeRegister()"></div>
        <div class="nullTop">
            <div >
                <div class="category">
                    <div style="font-size: 28px; color: #ffffff;">輕鬆享受台北一日悠閒</div>
                    <br>
                    <div style="color: #ffffff;">探索每個角落，體驗城市的深度旅遊行程</div>
                    <br>
                    <form class="categorySearch">
                        <button type="button" onclick="searchCategory()">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </button>
                        <input id="selectCatagoryList" type="text" placeholder="輸入景點名稱查詢"   >
                    </form>
                    <ul id="listCatagory" class="listCatagory" ></ul>
                </div>
            </div>
        </div>
        <!-- welcome -->
        <div id="welcome">
            <div class="onWelcomePng">
            </div>
            <img src="static/img/welcome.png" >
        </div>
        <!-- main -->
        <div id="main"></div>
        <footer id="footer">
            <div>COPYRIGHT © 2021 台北一日遊</div>
        </footer>
        <script src="/static/js/user.js"></script>
        <script src="/static/js/mainAJAX.js"></script>
    </body>
</html>